/* Default settings */

:root{
    --twenty-five-px: 25px;
    --ten-px: 25px;
    --twenty-px: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: #1B3C53;
    color: #F9F3EF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    margin: 2% 0;
}

main{
    margin: 1% 1%;
}

img{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 4%;
    background-color: #D2C1B6;
}

img:hover{
    cursor: pointer;
}

input, textarea{
    background-color: #456882;
    padding: 5px;
    color: #1B3C53;
}

footer, header, .technologies-section, h1, h2, h3{
    text-align: center;
}

form{
    background-color: #D2C1B6;
    padding: var(--twenty-px);
}

footer{
    margin-bottom: 2%;
}

hr{
    margin: 3% 0;
}

form label{
    display: block;
    width: 25%;
    margin: 2% auto;
    padding: 15px;
}

main p{
    width: 70%;
    margin: 0 auto;
}

.technologies-section div{
    margin-top: 2%;
}

.presentation, .follow-section{
    width: 75%;
    margin: 2% auto;
}

.nav-header li, .technologies-section div ul li, .gallery li, .article-container p, footer nav{
    display: inline-block;
}

.nav-header li{
    margin: 0 2%;
}

.gallery{
    margin: 0 5%;
}

.article{
    width: 70%;
    margin: 4% auto;
}

.article-container p{
    margin: 0 6%;
    width: 45%;
}

.technologies-section div ul li{
    margin-right: 2%;
}